body {
  padding: 5em 0 0 0;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #ff9e4ca1;
}

h1 {
  letter-spacing: 1px;
}

.wrapper {
  padding: 1em;
  position: relative;
}

section.todo-container {
  background-color: #ff7e4c94;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  min-height: 400px;
  right: -1.5em;
  top: 1.5em;
  position: relative;
}

section.todo-container > div {
  /* z-index: -1; */
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  right: 1.5em;
  top: -1.5em;
}

section.todo-container .wrapper {
  max-width: 700px;
  min-height: 400px;
  padding: 3em;
}

*[contenteditable="true"]:focus {
    outline: none;
  }

  .todo-container h1 {
    margin: 0 0 1.1em;
    padding: .25em 0.25em .25em 1.5em;
    min-width: 100px;
    z-index: 1;
    position: relative;
  } 

    .todo-container h1::before {
      display: inline;
      background-color: #fdff8e;
      content: '';
      width: 99%;
      position: absolute;
      height: 26px;
      bottom: -5px;
      z-index: -1;
      left: 0;
    }

    .todo-container h1::after {
      display: inline;
      background-color: #ef709f;
      content: '';
      width: 99%;
      position: absolute;
      height: 26px;
      bottom: -15px;
      z-index: -2;
      left: 9px;
    }

  .taskList {
    margin: 0 0 0 0em;
  }

    .task-outer {
      /* background: yellow; */
      position: relative;
    }

    .task-outer > .child {
      margin-left: 1.5em;
      /* background-color: yellow; */
    }

      .checkbox {
        content: '';
        width: 7px;
        height: 7px; 
        background: #43e9fb;
        position: absolute;
        top: 8px;
        left: 1.75em;
        border: 2px solid white;
        border-radius: 100%;
      }

      .checkbox:hover {
        border: 2px solid #43e9fb;
        cursor: pointer;
      }

      .task {
        margin-left: 3em;
        padding: .35em 0;
      }

      .task-outer.completed .task {
        text-decoration: line-through;
        color: #43e9fb;
      }
  
  .addTask {
    font-size: 40px;
    font-weight: bold;
    color: #43e9fb;
    display: inline-block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    left: 16px;
  }
  
    .addTask:before {
      content: '+';
      font-size: 40px;
      font-weight: bold;
      color: #ee709f;
      position: absolute;
      left: 2px;
      top: 2px;
      z-index: -1;
    }

      .addTask:hover:before {
        left: 3px;
        top: 3px;
      }


/* Simpletest Styles */

section.simpletest-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: auto;
}

  #simpletest-wrapper {
    padding: 1em;
    position: relative;
  }